<a href="https://colab.research.google.com/github/Swagatika40687/swagatika/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
celsius=float(input("Enter the value:"))
Fahrenheit=(celsius *1.8)+32
print("The value in Fahrenheit",Fahrenheit)
Fahrenheit_f=float(input("Enter the value:"))
celsius_c=int((Fahrenheit_f-32)/1.8)
print("The value in celsius",celsius_c)

Enter the value:23
The value in Fahrenheit 73.4
Enter the value:23
The value in celsius -5

In [ ]:
for var in"ABIT":
  if var=="B":
    continue
    print(var)

In [ ]:
# To CREATE A TABLE
list=[1,2,3,4,5,6,7,8,9,10]
n=int(input('Enter your Choice'))
for i in list:
   c=n*i
   print(c)

Enter your Choice3
3
6
9
12
15
18
21
24
27
30

In [ ]:
list=[10,30,23,43,65,12]
sum=0
for i in list:
  sum = sum+i
print("The sum is:",sum)

The sum is: 183

In [ ]:
#Using range() function in for loop
for i in range(10):
  print(i,end='')

0123456789

In [ ]:
#Using range() function in for loop
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#program to print table of given number
n=int(input("enter the number"))
for i in range(1,11):
  c=n*i
  print(n,"*",i,"=",c)

enter the number2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
n=int(input("enter the number"))
for i in range(2,n,2):
  print(i)

enter the number20
2
4
6
8
10
12
14
16
18

In [ ]:
#Using len() function
list =['peter','joseph','rocky','devansh']
for i in range(len(list)):
  print("hello",list[i])

hello peter
hello joseph
hello rocky
hello devansh

In [ ]:
n=int(input ("enter the number"))
sum=0
for i in range(2,n,2):
  
  sum=sum+i
  print(sum)

enter the number20
2
6
12
20
30
42
56
72
90

In [ ]:
# Nested for loop
for i in range(5):
  for j in range(5):
    print(i,end='')
  print('')

00000
11111
22222
33333
44444

In [ ]:
#User input for number of rows
rows = int(input("Enter the rows:"))
#Outer loop will print number of rows
for i in range(0,rows+1):
  #inner loop will print number of Astrisk
  for j in range(i):
     print("*",end='')
  print()

Enter the rows:5

*
**
***
****
*****

In [ ]:
#Using while loop
s=0
i=1
while i<=10:
  s=s+i
  i=i+1
print('SUM from 1 to 10 =',s)

SUM from 1 to 10 = 55

In [ ]:
n=int(input("ener the number:"))
r=0
while n>0:
  d=int(n%10)
  r=r*10+d
  n=int(n/10)
print('reverse=',r)

ener the number:456
reverse= 654

In [ ]:
# break statement
i=1
while i<=10:
  print(i)
  if i==5:
     break
  i=i+1

1
2
3
4
5

In [ ]:
#1,2,3,.....n Using for loop
n=int(input('enter n='))
for i in range(n):
  print(i)

enter n=5
0
1
2
3
4

In [ ]:

n=int(input('enter n='))
for i in range(n):
  print(i+1,end='')

enter n=5
12345

In [ ]:
n=int(input('enter n='))
for i in range(n):
  print(i+1,end=',')

enter n=5
1,2,3,4,5,

In [ ]:
#1,2,3,......n Using while loop
n=int(input('enter n='))
  i=1
while i<=n:
 print(i,end='')
  i=i+1

IndentationError: ignored

In [ ]:
  for var in"ABIT":
   if var=="B":
      continue
   print(var)

A
I
T

In [ ]:
 for i in range(10):
  print(i)
  if i ==2:
    break

0
1
2

In [ ]:
 for i in range(10):
   if i ==5:
    continue
   print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
 li=['a','b','c','d']
 for i in li:
    if(i=='a'):
      pass
    else:
       print(i)

b
c
d

In [ ]:
 n= int(input("enter the number of even numbers required"))
 for i in range(0,n+1,2):
   if(i<=10):
     pass
   else:
      print(i)

enter the number of even numbers required20
12
14
16
18
20

In [ ]:
def SHOWO():
 print('HELLO PYTHON')
SHOWO()

HELLO PYTHON

In [ ]:
def sum(a,b):
  print('a+b =',(a+b))
x=int(input('enter x'))
y=int(input('enter y'))
sum(x,y)

enter x4
enter y5
a+b = 9

In [ ]:
n=int(input('enter the number'))
def rev(n):
  rev=0
   while(n>0)
     rev=int(n)
     rev=rev*10+rev
      n=int(n/10)
      print(rev)
      rev(n)

IndentationError: ignored

In [ ]:
 def sum(a,b):
  return(a+b)
print(sum(10,70))

80

In [ ]:
def adding(x,y):
  i=x+y
  return i
result=adding(16,25)
print(result)

41

In [ ]:
rows=int(input("enter no of rows"))
for i in range(0,rows+1):
  for j in range(i):
    print(i,end =" ")
  print()

enter no of rows5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
rows=int(input("enter no of rows"))
for i in range(rows,0,-1):
  n=i
  for j in range(0,i):
    print(i,end =" ")
  print()

enter no of rows5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
def greet():
  #local variable
  message='hello'
  print('local',message)

greet()

local hello

In [ ]:
def greet():
  #local variable
  message='hello'
  print('local',message)

greet()
message='ABIT CES'
print(message)

local hello
ABIT CES

In [ ]:
add=lambda num:num+4
print(add(6))

10

In [ ]:
a=lambda x,y:x+y
print(a(1,2))

3

In [ ]:
def factorial(x):
 if x==1:
  return 1
 else:
  return(x*factorial(x-1))
num=int(input('num=?'))
print("the factorial of",num,"is",factorial(num))

num=?6
the factorial of 6 is 720

In [ ]:
nterms = int(input("How many terms? "))
n1, n2 = 0,1
count = 0
if nter

In [ ]:
import math
pie=math.pi
print("the value of pi is :",pie)

the value of pi is : 3.141592653589793

In [ ]:
import math as sushree
pie=sushree.pi
print("the value of pi is :",pie)

the value of pi is : 3.141592653589793

In [ ]:
import random
for i in range(10):
  print(random.randint(1,25))

24
8
24
3
9
10
5
25
21
22

In [ ]:
import random
import math 
for i in range(5):
  print(random.randint(1,25))
print(math.pi)

25
22
15
11
19
3.141592653589793

In [1]:
class myclass:
  a=100
  def fun(self):
    print('hello class')
obj=myclass()
print(obj.a)
obj.fun()

100
hello class

In [7]:
class myclass:
  def __init__(self,name):
     print("hello",name)
obj = myclass("sushree")

hello sushree

In [ ]:
class a:
   def __init__(self,n):
    for i in range(n+1):
      for j in range(i):
        print(i,end='')
      print()
n=int(input("Enter the no.of rows"))
obj=a

In [ ]:
class animal:
  def speak(self):
    print("animal speaking")
class dog(animal):
  def bark(self):
    print("dog breaking")
d=Dog()
d.bark()
d.speak()